*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80vw;
  margin: auto;
  padding: 10px;
}
header{
  height: 300px;
  background-color: yellow;
}

main{
  background-color: green
}

aside.col-left{
  width: 20%;
  background-color: pink;
  height: 400px;
}
