*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80vw;
  margin: auto;
  padding: 10px;
}
header{
  height: 300px;
  background-color: yellow;
}

main{
  margin-top: 10px;
  background-color: green;
}
main::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  width: 20%;
  float: left;
  margin-right: 20px
}

.float-right{
  float: right;
  width: 20%;
}

aside.col-left{
  width: 100%;
  background-color: pink;
  height: 400px;
}

section.maintext{
  width: calc(100% - 40% - 40px);
  height: 200px;
  margin-right: 20px;
  background-color: purple;
}

aside.col-right{
  width: 100%;
  height: 350px;
  background-color: pink;
  margin-bottom: 20px
}
